.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;


    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h1 {
            color: var(--main-clean-white-ffffff, #FFF);
            font: 600 96px Lexend;
            line-height: 96px;
        }

        h2 {
            color: var(--main-blue-478-bf-9, #478BF9);
            font: 600 96px Lexend;
            line-height: 96px;
        }

        p {
            color: var(--transp-white-white-60, rgba(255, 255, 255, 0.60));
            font: 500 32px Lexend;
            line-height: 32px;
            margin-top: 24px;
        }

        .btn {
            margin-top: 48px;
            display: flex;
            padding: 20px 72px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 48px;
            background: var(--main-blue-478-bf-9, #478BF9);
            color: #FFF;


            color: var(--main-clean-white-ffffff, #FFF);
            font: 600 24px Lexend;
            line-height: 32px;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                background: var(--main-blue-478-bf-9, #396aba);

            }
        }
    }

    .animation {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        position: absolute;
        z-index: -1;



    }

    .blog {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin: 140px 0px;

        h1 {
            color: var(--main-clean-white-ffffff, #FFF);
            font: 600 40px Lexend;
            line-height: 40px;

        }



        .scroll {
            display: flex;
            flex-direction: column;
            border-radius: 100px;
            border: 3px solid var(--main-blue-478-bf-9, #478BF9);
            background: var(--transp-white-white-12, rgba(255, 255, 255, 0.12));
            backdrop-filter: blur(10px);
            height: 595px;
            padding: 24px 40px 0px 24px;
            gap: 15px;
            overflow-y: scroll;

            .textBlog {
                display: flex;
                padding: 16px 64px;
                flex-direction: column;
                align-items: flex-start;
                border-radius: 196px;
                background: var(--main-blue-478-bf-9, #478BF9);
            }
        }
    }
}