.container {
    margin: auto;
    display: flex;
    width: 1340px;
    padding: 24px 48px;
    height: calc(100% - 15%);
   
   
    border-radius: 64px;
    border: 4px solid var(--main-blue-478-bf-9, #478BF9);
    background: var(--main-navy-blue-110-a-1-d, #110A1D);
    justify-content: space-between;
    gap: 50px;

    border-radius: 64px 64px 0px 0px;
    border-top: 4px solid var(--main-blue-478-bf-9, #478BF9);
    border-right: 4px solid var(--main-blue-478-bf-9, #478BF9);
    border-left: 4px solid var(--main-blue-478-bf-9, #478BF9);
    background: var(--main-deep-blue-1-e-1231, #1E1231);


    nav {
        display: flex;
        color: var(--main-clean-white-ffffff, #FFF);
        align-items: flex-end;
        gap: 13px;


        p {
            line-height: 20px;
            transition: 0.5s;
            cursor: pointer;
            font: 400 16px Lexend;
        }

        p:hover {
            color: var(--main-blue-478-bf-9, #478BF9);
        }
    }

    .blueText {
        font: 400 16px Lexend;
    }

    .socialMedia {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;

        .wrapperIcons {
            display: flex;
            gap: 8px;

            svg {
                cursor: pointer;

                path {
                    transition: 0.5s;

                    &:hover {
                        fill: #FFF;
                    }
                }
            }
        }

        .textMedia {
            text-align: right;
            color: var(--main-clean-white-ffffff, #FFF);
            font: 400 16px Lexend;
            line-height: 20px;

        }
    }
}